<!DOCTYPE html>
<html amp lang="en">

<head>

    <title>SpringField Olympiads</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description"
        content="springfield olympiads private limited we, at Springfield provide best olympiad solutions for students.Springfield Olympiads is one the few establishments which was founded with the aim of not only building competitive spirit but also focusing on developing healthy academic competition among children at the school level.The status-quo of Springfield Olympiads can be attributed  to driving academicians who felt a need to promote/advance science, arithmetic, computer training, English, General Knowledge, and other expert courses.Springfield Olympiads firmly believes that such Olympiads, also help the participants in gaining confidence for competition with the best around them, within the country and internationally and contribute to temperament development. Also when children experience a definite sense of accomplishment, it encourages them to try and do even higher as they advance in age.">
    <meta name="keywords"
        content="Olympiads, olympiad , maths olympiads , Science olympiads ,national olympiads, springfield olympiads, competitive olympiads,science, arithmetic, computer training, English, General Knowledge, and other expert courses  ">
    <meta name="author" content="nagacharan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    </script>

    <link rel="shortcut icon" type="image/x-icon" href="images/springfield_olympiads_private_limited_651397.png" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'>
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/base-style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $("#header1").load("header.php");
            $("#footer1").load("footer.php");
        });
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <style type="text/css">
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 40px;
            font-size: 20px;

        }

        .card-body {
            margin-left: 50px;
            margin-right: 50px;


        }
    </style>
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div id="header1"></div>


    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>





    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" action="/sendmessage" method="post">
                        <div class="section-title">
                            <h2>Contact us <small>We always love hearing from you!</small></h2>
                        </div>
                        <%if(message=="Fill"){ %>
                        <h5 class="Error" style="color:red;">Fill all the information</h5>
                        <%}else if(message=="Message"){%>
                        <h5 class="Error" style="color:white;">Message Sent We will contact you soon</h5>
                        <%}%>
                        
                        <h4 class="InvalidEmail" style="color:white;">Enter Valid Email Address</h4>
                        <div class="col-md-12 col-sm-12">
                            <input id="name" type="text" class="form-control" placeholder="Enter full name" name="name"
                                required="">

                            <input id="email" type="email" class="form-control" placeholder="Enter email address"
                                name="email" required="">

                            <textarea id="message" class="form-control" rows="6"
                                placeholder="Tell us about your message" name="message" required=""></textarea>

                            <div class="g-recaptcha" data-sitekey="6LcKu_IUAAAAAOlKaWMjmCxWRSCz_UAbGlxC6G8r"></div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <input id="button1" type="submit" class="form-control" name="contact" value="contact">
                        </div>

                    </form>
                </div>
                <!-- <script>
                    $('.result').hide();
                    $('.Error').hide();
                    $('.InvalidEmail').hide();

                    $(document).ready(function () {
                        $('#email').blur(function () {
                            $('#email').filter(function () {

                                var emil = $('#email').val();
                                var emailReg = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;

                                if (!emailReg.test(emil)) {

                                    console.log('Please enter valid email');
                                    $('.InvalidEmail').show();

                                }
                            });
                        });
                    });







                    $(document).ready(function () {
                        $('.result').hide()
                        $('.Error').hide()
                        $('#button1').click(function (e) {
                            e.preventDefault();
                            var name = $('#name').val();

                            var email = $('#email').val();

                            var message = $('#message').val();
                            
                            
                        });

                    });


                </script> -->

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                    </div>
                </div>

            </div>
        </div>
    </section>




    <div id="footer1"></div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

    <script src="backtotop.js"></script>


</body>

</html>